body {
    background-color: #12131A;
}
#container {
  width: 328px ;
  height: 403px;
  margin: auto;
  
  border: 5px solid white;
  /*order-left: 3px solid white;*/
  background-color: #3BA621;
  /*background-image: url("Images/grass.jpeg");*/
  position: relative;
  /*clip-path: circle(50%);
  /*-webkit-mask-clip: circle(50%);*/
}
#divMainPlayer {
  top: 24px;
  left: 148px;
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #52B5F0;
  /*background-image: url("Images/Cola.png");*/
  border-radius: 7px;
  border: 1.5px solid black;
}
#controls button {
  margin: 2px;
  height:70px;
  width: 70px ;
  font-size: 60px;
  font-style: bold;
}

body :last-child div {
  height: 25px;
  width: 25px ;
}



