body {
    background-color: #12131A;
}
#container {
  width: 280px ;
  height: 400px;
  margin: auto;
  border: 5px solid white;
  /*background-color: #40BD40;*/
  background-image: url("Images/grass.jpeg");
  position: relative;
  /*clip-path: circle(50%);
  /*-webkit-mask-clip: circle(50%);*/
}
#box {
  position: absolute;
  height: 40px;
  width: 40px;
 /*background-color: #FF0000;*/
  background-image: url("Images/Cola.png");
  border-radius: 10px;
  /*border: 2px solid black;*/
}
#controls button {
  margin: 2px;
  height:70px;
  width: 70px ;
  font-size: 60px;
  font-style: bold;
}

body :last-child div {
  height: 25px;
  width: 25px ;
}

