body {
    background-color: #12131A;
}
#interactionBtn1 {
  background: red;
}
#interactionBtn2 {
  background: yellow;
} 
.interactionBtns { 
  border-radius: 30px;
  /* background: red; */
  position: relative ;
  height: 50px;
  width: 50px;
  margin: 40px;
  margin-bottom: 10px;
  margin-top: 25px;
  bottom: 20px;
  color: #fff;
  font-size: 30px;
  font-style: bold;
}

#container {
  width: 328px ;
  height: 403px;
  margin: auto;
  
  border: 5px solid white;
  /*order-left: 3px solid white;*/
  background-color: #3BA621;
  /*background-image: url("Images/grass.jpeg");*/
  position: relative;
  clip-path: circle(70%);
  /*-webkit-mask-clip: circle(50%);*/
}
#divMainPlayer {
  z-index: 1;
  top: 24px;
  left: 149px;
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #52B5F0;
  /*background-image: url("Images/Cola.png");*/
  border-radius: 7px;
  border: 1.5px solid black;
}
.controlBtns {
  user-select: none;
  border-radius: 10px;
  margin: 2px;
  height:70px;
  width: 70px ;
  font-size: 60px;
  font-style: bold;
  background-color: white;
}

body :last-child div {
  height: 25px;
  width: 25px ;
}
#infoButton {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 10px;
  bottom: 15px ;
}


